workflows/Strava activity merge.json
{
  "active": false,
  "connections": {
    "Strava Trigger": {
      "main": [
        [
          {
            "node": "IF WeightTrain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF GARMIN": {
      "main": [
        [
          {
            "node": "Save Garmin",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF HEVY",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF WeightTrain": {
      "main": [
        [
          {
            "node": "IF GARMIN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF HEVY": {
      "main": [
        [
          {
            "node": "Save hevy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save hevy": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Save Garmin": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        []
      ]
    }
  },
  "createdAt": "2024-05-23T10:58:28.249Z",
  "id": "GsZxPvd8KNc0Y2vX",
  "meta": null,
  "name": "Strava activity merge",
  "nodes": [
    {
      "parameters": {
        "object": "activity",
        "event": "create",
        "options": {}
      },
      "id": "ae6d96ac-ad90-4ec7-829a-bc565d8ec5d7",
      "name": "Strava Trigger",
      "type": "n8n-nodes-base.stravaTrigger",
      "typeVersion": 1,
      "position": [
        680,
        520
      ],
      "webhookId": "fe826703-c487-4ca8-9d69-026ed84215d6",
      "credentials": {
        "stravaOAuth2Api": {
          "id": "1mc9aV3hcDnt0sSM",
          "name": "Strava account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.object_data.device_name }}",
              "operation": "contains",
              "value2": "Garmin"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "a732e856-a819-4aa9-b181-9a38cfd6bf3f",
      "name": "IF GARMIN",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1180,
        500
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.object_data.device_name }}",
              "value2": "Hevy"
            }
          ]
        }
      },
      "id": "48a5b59c-5ade-479e-9ce8-5511ef2c43af",
      "name": "IF HEVY",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1320,
        640
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.object_data.type }}",
              "value2": "=WeightTraining"
            }
          ]
        }
      },
      "id": "d858dd59-3ffa-4a73-9d81-099d1ed3a7f2",
      "name": "IF WeightTrain",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        920,
        520
      ]
    },
    {
      "parameters": {
        "operation": "set",
        "key": "garmin.train.id",
        "value": "={{ $json.object_id }}",
        "keyType": "string",
        "expire": true,
        "ttl": 86400
      },
      "id": "c5c6d8ba-56a5-4483-8425-e562d29ac66d",
      "name": "Save Garmin",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1480,
        440
      ],
      "credentials": {
        "redis": {
          "id": "dVQY2alm6BXTCC5v",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "hevy.train.id",
        "value": "={{ $json.object_id }}",
        "keyType": "string",
        "expire": true,
        "ttl": 86400
      },
      "id": "558e073c-77d3-4a1c-a026-c516ba422b4f",
      "name": "Save hevy",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1560,
        620
      ],
      "credentials": {
        "redis": {
          "id": "dVQY2alm6BXTCC5v",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {},
      "id": "364d8693-2117-4fef-993f-e99f39d463e8",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        1760,
        460
      ]
    }
  ],
  "pinData": {
    "Strava Trigger": [
      {
        "json": {
          "aspect_type": "create",
          "event_time": 1716473367,
          "object_id": 11478982814,
          "object_type": "activity",
          "owner_id": 5494994,
          "subscription_id": 259010,
          "updates": {},
          "object_data": {
            "resource_state": 3,
            "athlete": {
              "id": 5494994,
              "resource_state": 1
            },
            "name": "Afternoon Weight Training",
            "distance": 0,
            "moving_time": 6,
            "elapsed_time": 6,
            "total_elevation_gain": 0,
            "type": "WeightTraining",
            "sport_type": "WeightTraining",
            "id": 11478982814,
            "start_date": "2024-05-23T14:09:15Z",
            "start_date_local": "2024-05-23T17:09:15Z",
            "timezone": "(GMT+03:00) Africa/Addis_Ababa",
            "utc_offset": 10800,
            "location_city": null,
            "location_state": null,
            "location_country": "Украина",
            "achievement_count": 0,
            "kudos_count": 0,
            "comment_count": 0,
            "athlete_count": 1,
            "photo_count": 0,
            "map": {
              "id": "a11478982814",
              "polyline": "",
              "resource_state": 3,
              "summary_polyline": ""
            },
            "trainer": true,
            "commute": false,
            "manual": false,
            "private": false,
            "visibility": "everyone",
            "flagged": false,
            "gear_id": null,
            "start_latlng": [],
            "end_latlng": [],
            "average_speed": 0,
            "max_speed": 0,
            "has_heartrate": false,
            "heartrate_opt_out": false,
            "display_hide_heartrate_option": false,
            "elev_high": 0,
            "elev_low": 0,
            "upload_id": 12255211537,
            "upload_id_str": "12255211537",
            "external_id": "973EC146-DDF1-408C-9F93-9FECB0E234FF-activity.fit",
            "from_accepted_tag": false,
            "pr_count": 0,
            "total_photo_count": 0,
            "has_kudoed": false,
            "description": null,
            "calories": 0,
            "perceived_exertion": null,
            "prefer_perceived_exertion": null,
            "segment_efforts": [],
            "laps": [
              {
                "id": 40065470344,
                "resource_state": 2,
                "name": "Lap 1",
                "activity": {
                  "id": 11478982814,
                  "visibility": "everyone",
                  "resource_state": 1
                },
                "athlete": {
                  "id": 5494994,
                  "resource_state": 1
                },
                "elapsed_time": 6,
                "moving_time": 6,
                "start_date": "2024-05-23T14:09:15Z",
                "start_date_local": "2024-05-23T17:09:15Z",
                "distance": 0,
                "average_speed": 0,
                "max_speed": 0,
                "lap_index": 1,
                "split": 1,
                "start_index": 0,
                "end_index": 1,
                "total_elevation_gain": 0,
                "device_watts": false
              }
            ],
            "photos": {
              "primary": null,
              "count": 0
            },
            "stats_visibility": [
              {
                "type": "heart_rate",
                "visibility": "everyone"
              },
              {
                "type": "pace",
                "visibility": "everyone"
              },
              {
                "type": "power",
                "visibility": "everyone"
              },
              {
                "type": "speed",
                "visibility": "everyone"
              },
              {
                "type": "calories",
                "visibility": "everyone"
              }
            ],
            "hide_from_home": false,
            "device_name": "Hevy",
            "embed_token": "f731466e9bbcb6434f3da098a301a4833a160322",
            "available_zones": []
          }
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Strava Trigger": {
      "webhookId": 259010
    }
  },
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-05-24T11:29:08.000Z",
  "versionId": "779473a7-3995-435f-9207-e97812f276e4"
}