workflows/Sync tasks automatically between Notion to Todoist.json
{
  "active": true,
  "connections": {
    "Every 30 secs": {
      "main": [
        [
          {
            "node": "Get all tasks with specific label",
            "type": "main",
            "index": 0
          },
          {
            "node": "Gen Unsynced options",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add to Notion database": {
      "main": [
        [
          {
            "node": "Replace label on task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get all tasks with specific label": {
      "main": [
        [
          {
            "node": "Add to Notion database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Todoist": {
      "main": [
        []
      ]
    },
    "Gen Unsynced options": {
      "main": [
        [
          {
            "node": "Todoist",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notion1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-01-16T17:01:25.484Z",
  "id": "5WHSEhqPDbcjwpdi",
  "isArchived": false,
  "meta": null,
  "name": "Sync tasks automatically between Notion to Todoist",
  "nodes": [
    {
      "parameters": {
        "operation": "update",
        "taskId": "={{ $json[\"property_todoist_id\"] }}",
        "updateFields": {
          "labels": [
            "2171039136"
          ]
        }
      },
      "id": "5832bfca-8318-4004-b09c-5e02da247e0b",
      "name": "Replace label on task",
      "type": "n8n-nodes-base.todoist",
      "position": [
        980,
        240
      ],
      "typeVersion": 1,
      "credentials": {
        "todoistApi": {
          "id": "6P4wmNTCy9Oov4Yc",
          "name": "Todoist account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "c29dc72971854752a968602380e354af",
          "mode": "id"
        },
        "title": "={{ $json[\"content\"] }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "TodoistId|rich_text",
              "textContent": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "805fabb3-1c11-4c15-a33b-0cda5d4c0757",
      "name": "Add to Notion database",
      "type": "n8n-nodes-base.notion",
      "position": [
        780,
        240
      ],
      "typeVersion": 2,
      "credentials": {
        "notionApi": {
          "id": "dnDUYEoNp3HvYlPc",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "interval": 30
      },
      "id": "3c15e2b3-39bd-47a6-a1e6-ae929519e7a2",
      "name": "Every 30 secs",
      "type": "n8n-nodes-base.interval",
      "position": [
        240,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "getAll",
        "filters": {
          "labelId": "notion"
        }
      },
      "id": "7b65babb-8740-4025-845f-76418af7f493",
      "name": "Get all tasks with specific label",
      "type": "n8n-nodes-base.todoist",
      "position": [
        580,
        240
      ],
      "typeVersion": 2,
      "credentials": {
        "todoistApi": {
          "id": "6P4wmNTCy9Oov4Yc",
          "name": "Todoist account"
        }
      }
    },
    {
      "parameters": {
        "operation": "close",
        "taskId": "={{ $json.properties.TodoistId.rich_text[0].text.content }}"
      },
      "id": "5f59b929-56da-4522-8999-0991b09e9a0d",
      "name": "Todoist",
      "type": "n8n-nodes-base.todoist",
      "typeVersion": 2,
      "position": [
        700,
        0
      ],
      "credentials": {
        "todoistApi": {
          "id": "6P4wmNTCy9Oov4Yc",
          "name": "Todoist account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $('Gen Unsynced options').item.json.id }}",
          "mode": "id"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "synced_todoist|checkbox",
              "checkboxValue": true
            }
          ]
        },
        "options": {}
      },
      "id": "32c83ed7-bec2-4101-823b-f6b4bc11ef26",
      "name": "Notion1",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [
        840,
        -180
      ],
      "credentials": {
        "notionApi": {
          "id": "dnDUYEoNp3HvYlPc",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "c29dc729-7185-4752-a968-602380e354af",
          "mode": "list",
          "cachedResultName": "Work TO-DO",
          "cachedResultUrl": "https://www.notion.so/c29dc72971854752a968602380e354af"
        },
        "simple": false,
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "key": "Done|checkbox",
              "condition": "equals",
              "checkboxValue": true
            },
            {
              "key": "synced_todoist|checkbox",
              "condition": "equals"
            }
          ]
        },
        "options": {}
      },
      "id": "ea10c676-91cf-4154-9ba4-d078a65d94fd",
      "name": "Gen Unsynced options",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [
        480,
        0
      ],
      "credentials": {
        "notionApi": {
          "id": "dnDUYEoNp3HvYlPc",
          "name": "Notion account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2024-01-16T17:01:25.488Z",
      "updatedAt": "2024-01-16T17:01:25.488Z",
      "role": "workflow:owner",
      "workflowId": "5WHSEhqPDbcjwpdi",
      "projectId": "1dpdX6PwTs6u06T1"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-01-18T15:21:57.000Z",
  "versionId": "15025e8f-f98f-4b01-9b48-5de05ad6ff24"
}